<h1>Members</h1>
<ul>
    {% for arrayfinaldetalle in arrayfinaldetalle %}
      <li>1 {{ arrayfinaldetalle.cantidad }}</li>
      <li>2 {{ arrayfinaldetalle.detalle }}</li>
      <li>3 {{ arrayfinaldetalle.valorunitario }}</li>
      <li>4 {{ arrayfinaldetalle.valortotal }}</li>
    {% endfor %}
</ul>

