
{% if app.session.get('user') is null %}
                <div class="intro-heading"><font size="8" color="black">Debe iniciar sesión</font></div>                        
{% else %}

<!DOCTYPE html>

<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
		<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
    <script src="http://www.bardo1.com/web1/cotiDocs/assets/js/jquery-1.12.0.js"></script>
    <script src="http://www.bardo1.com/web1/cotiDocs/assets/js/jquery-1.12.0.min.js"></script>
    <script src="{{ app.request.basepath }}/cotiDocs/assets/js/index1.default.load.js"> </script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="http://www.bardo1.com/web1/cotiDocs/vendor/css/sweetalert.css">
	<link rel="stylesheet" href="http://www.bardo1.com/web1/cotiDocs/vendor/css/uikit.min.css">
	<!-- <link rel="stylesheet" href="vendor/css/dataTables.uikit.min.css"> -->
	<link rel="stylesheet" href="http://www.bardo1.com/web1/cotiDocs/assets/css/index.default.css">
    <!-- archivos de la fecha -->
    <link href="{{ app.request.basepath }}/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <link href="{{ app.request.basepath }}/css/bootstrap.min.css" rel="stylesheet"> 
   
	<style>
	</style>
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
</head>
<body>
	<div class="container-fluid">
<body>  
<br>

<img src="{{ app.request.basepath }}/imagenes/logo.png" style="text-align: center;" width="450" height="150" /> </a>
<div class="row">
 <div class="col-xs-6" >
<div style="width:500px; height:150px;">
  <table >
  CRISTIAN ANDRES CELIS SANDOVAL
  <br>
  COMPRA Y VENTA DE ARIDOS 
  <br>
  ARRIENDO DE MAQUINARIAS
  <br>
  RUT: 15.398.529-4
  <br>
  AV. AMERICO VESPUCIO NORTE
  <br>
  PARCELA N° 51 - MAIPÚ
  <br>
  CEL: 9 9030 8359
  <br>
  contacto@aridoscelis.cl // www.aridoscelis.cl
  <br>
  <br>
  <br>
  <br>
  </table>
    <br>
  <br>
    <br>
  <br>
  </div>
  <br>
  </div>
 <div class="col-xs-6" >
<div style="width:500px; height:150px;" align="center">
<table >
NOTA DE TRABAJO DIARIO 
<br>
<div align="center">N°{{ numeroNotaVenta }}</div>

<div align="center">{{ fechaEmision }}</div>
<br>
</table>
<br>
</div>
<br>
  </div>
</div>
<br>
<br>
 <div>
<div>


<form action="{{ path('ingresarNotaVenta') }}" method="POST" id="form1">

<div class="group">
       <label for="fechaMax" class="col-md-2 control-label">Fecha </label>
       <div style="width:200px;" class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
        <input class="form-control"  id="fechaMax" type="text" value='{{ fechaMax | date("d-m-Y") }}' readonly>
        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
</div>

<br>
<div class="form-inline">
   <div class="form-group" style="width:200px;">
      <label for="cliente">Cliente: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
      <input type="text" class="form-control" id="cliente"  placeholder="Ingrese cliente" style="width:200px;">
   </div>
</div>
<br>
<div class="inline">
    <div class="group">
      <label for="direccion">Direccion:&nbsp;&nbsp;&nbsp;</label>
      <input type="text" class="form-control" id="direccion" placeholder="Ingrese direccion">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
     <div class="group">
        <div></div>
    </div>
    <div class="group">
      <label for="comuna">Comuna:&nbsp;&nbsp;&nbsp;</label>
      <input type="text" class="form-control" id="comuna" placeholder="Ingrese comuna">
    </div>
</div>
<br>
<div class="inline">
    <div class="group">
      <label for="fono">Fono: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
      <input type="text" class="form-control" id="fono" placeholder="Ingrese fono">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div class="group">
        <div></div>
    </div>
    <div class="group">
      <label for="vendedor">Vendedor:&nbsp;</label>
      <input type="text" class="form-control" id="vendedor" placeholder="Ingrese vendedor">
    </div>
</div>
<br>
<hr>
<div class="inline">
    <div class="group">
    <label for="horamaquinaria">Hora Maquinaria &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    </div>

    <div class="group">
      <label for="horainicio">Hora inicio:</label>
      <input type="text" class="form-control" id="horainicio" placeholder="Ingrese hora inicio">
      <label for="horainicio">Hrs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    </div>
  
    <div class="group">
      <label for="horatermino">Hora termino:</label>
      <input type="text" class="form-control" id="horatermino" placeholder="Ingrese hora termino">
      <label for="horatermino">Hrs</label>
    </div>

</div>
<br>
<div class="inline">
   <div class="group">
      <label for="totalhoras">Total horas: </label>
      <input type="text" class="form-control" id="totalhoras" name="totalhoras" placeholder="Total horas">     
   </div>
</div>

</div>
<br>
</form>

<br>
<br>
<div align="center">A continuación el detalle del producto solicitado</div>
</div>
</div>



<h1 class="text-center text-uppercase text-primary small"> Registro de Productos </h1> 
    <div class="container-fluid">
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div >
                    <div id="form-registro-estudiante">
<table id="prueba" class="" class="table table-bordered table-condensed table-hover">
    <thead>
          <tr>        
              <th>Cantidad</th>
              <th>Detalle</th>
              <th>Valor Unitario</th>
          </tr>
    </thead>
    <tbody>
    <tr>     
      <td>
          <div class="form-group-sm col-lg-10">
            <input name="cantidad" type="text" class="form-control" id="cantidad" placeholder="ingrese cantidad" />
          </div>
          <div id="mensage-3" class="text-danger hide" role="alert">
			<small>Este campo no puede estar en blanco</small>
		  </div>
      </td>
      <td>
         <div class="form-group-sm col-lg-10">
            <input name="detalle" type="text" class="form-control" id="detalle" placeholder="ingrese detalle" />
          </div>
          <div id="mensage-4" class="text-danger hide" role="alert">
			<small>Este campo no puede estar en blanco</small>
		  </div>
      </td>
      <td>
          <div class="form-group-sm col-lg-10">
            <input name="valorunitario" type="number" class="form-control" id="valorunitario" placeholder="Ingrese valor unitario" />
          </div>
          <div id="mensage-5" class="text-danger hide" role="alert">
				<small>Este campo no puede estar en blanco</small>
		  </div>
      </td>
    </tr> 
    </tbody>


		<div class="container-fluid" >
			<div class="row">
				<div class="col-lg-6">
					<div id="form-registro-estudiante">
					  <table class="table table-bordered table-striped table-hover uk-table uk-table-hover uk-table-striped">		
					  </table>
				    </div><!-- FIN REGISTRO DE ESTUADIANTE -->
				</div>
			</div>

			<div class="col-lg-12" align="right">
				<table id="data-table-lista-estudiantes" class="table table-bordered table-striped table-hover uk-table uk-table-hover uk-table-striped" align="right">
					<caption> Acciones de botones </caption>
					<thead>
						<tr>
							<th>
								<small> Registrar Producto </small>
							</th>
							<th>
								<button id="btn-registrar-estudiante" class="btn  btn-success btn-xs small">
									<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Guardar
								</button>
							</th>
						</tr>
						<tr>
							<th>
								<small> Mostrar Total a pagar </small>
							</th>
							<th>
								<button id="btn-mostrar-total-pago" class="btn  btn-warning btn-xs small">
									<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Ver
								</button>
							</th>
						</tr>
						<tr>
							<th>
								<small> Remover lista de productos </small>
							</th>
							<th>
								<button id="btn-remover-lista" class="btn  btn-danger btn-xs small">
									<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Ver
								</button>
							</th>
						</tr>
					</thead>
				</table> <!-- FIN LISTADO DE ESTUDIANTES -->
			</div>
			</div>
			<hr>
			<div class="col-lg-12">
				<table id="data-table-lista-estudiantes" class="table table-bordered table-striped table-responsive table-hover uk-table uk-table-hover uk-table-striped">
					<caption> Listado de Productos </caption>
					<thead>
						<tr id="insertar-th"> </tr>
					</thead>
					<tbody id="insertar-datos-estudiantes"> </tbody>
				</table> <!-- FIN LISTADO DE ESTUDIANTES -->
			</div>
		</div>

	</div>
</div>
</div>

<br>
<br>
<br>
<div class="row">
 <div class="col-xs-6" >
 <div style="width:500px; height:150px;">
  </div>
  </div>
  <div class="col-xs-6" >
  <div style="width:500px; height:150px;" align="center">
  <table >
 
  <div class="col-lg-12">
				<table id="data-table-lista-estudiantes" class="table table-bordered table-striped table-responsive table-hover uk-table uk-table-hover uk-table-striped">
					<caption> Listado de Productos </caption>
					<thead>
						<tr id="insertar-th1"> </tr>
					</thead>
					<tbody id="insertar-datos-productoconteo"> </tbody>
				</table> <!-- FIN LISTADO DE ESTUDIANTES -->
 </div>



      <div>
      <button id="boton" class="btn  btn-primary btn-xs small" type="submit" form="form1" value="Submit" >
      <span class="glyphicon glyphicon-file" ></span> Ingresar Nota Venta
      </button>   
      </div>

 <br>
 </table>
 </div>
 </div>
</div>
<br>
<br>
<br>
<div>
<div>
<hr>
Av. Americo Vespucio Norte Parcela 51, Maipú, Santiago/ Fono: (569): 9030 8359
<br>
caceliss@hotmail.com
<br>


<script src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="http://www.bardo1.com/web1/cotiDocs/vendor/js/jquery-2.2.4.js"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!-- <script src="vendor/js/jquery.dataTables.min.js"></script> -->
<!-- <script src="vendor/js/dataTables.uikit.min.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!-- <script src="vendor/js/jquery.dataTables.min.js"></script> -->
<!-- <script src="vendor/js/dataTables.uikit.min.js"></script> -->
<script src="http://www.bardo1.com/web1/cotiDocs/vendor/js/sweetalert.min.js"></script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->

<script type="text/javascript" src="{{ app.request.basepath }}/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="{{ app.request.basepath }}/js/locales/bootstrap-datetimepicker.es.js" charset="UTF-8"></script>
<script type="text/javascript">


    $('.form_date').datetimepicker({
        language:  'es',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });

</script>
<script>
	(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
	e=o.createElement(i);r=o.getElementsByTagName(i)[0];
	e.src='https://www.google-analytics.com/analytics.js';
	r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
	ga('create','UA-XXXXX-X');ga('send','pageview');
</script>
</body>
</html>

  {% endif %}